<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" placeholder="Enter first name">
    <mat-error *ngIf="addForm.get('firstName')?.hasError('required')">
      First name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" placeholder="Enter last name">
    <mat-error *ngIf="addForm.get('lastName')?.hasError('required')">
      Last name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter email" type="email">
    <mat-error *ngIf="addForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="addForm.get('email')?.hasError('email')">
      Please enter a valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber" placeholder="Enter phone number">
    <mat-error *ngIf="addForm.get('phoneNumber')?.hasError('required')">
      Phone number is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Add User</button>
  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="addForm.invalid">Add User</button> -->
</form>