<div class="qr-scanner">
    <h3>QR Code Scanner</h3>
  
    <div class="video-container">
      <video #video autoplay></video>
      <canvas #canvas style="display: none;"></canvas>
    </div>
  
    <div class="button-container">
      <button (click)="captureImage()">Scan QR Code</button>
      <button (click)="ConfirmSubscriberAttendance()">Confirm</button>
    </div>
  
    <div *ngIf="showSuccessMessage" class="result">
      <h4>QR Code Content:</h4>
      <p>{{ qrCodeText }}</p>
    </div>
    <!-- <div *ngIf="showSuccessMessage" class="success-message">
      <h4>QR Code Content:</h4>
      <p>{{ qrCodeText }}</p>
    </div> -->
    <div *ngIf="errorMessage" class="error">
      <h4>Error:</h4>
      <p>{{ errorMessage }}</p>
    </div>
  
    <p *ngIf="qrCodeText">QR Code Content: {{ qrCodeText }}</p>
  </div>


  