<div class="dashbord-page-header">
  <h1 class="page-headline">QR Scanner</h1>
</div>
<div class="dashbord-page-body">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-6 col-lg-7 col-12">
        <div class="video-container">
          <ngx-scanner-qrcode
            #action="scanner"
            [config]="config"
            (event)="onEvent($event, action)"
          ></ngx-scanner-qrcode>
        </div>
        <div class="d-grid mt-4">
          <button
            class="btn btn-md btn-primary"
            (click)="ConfirmSubscriberAttendance()"
          >
            Confirm
          </button>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7 col-12">
        <div *ngIf="qrCodeText" class="result">
          <h4>QR Code Content:</h4>
          <ul class="">
            <!-- <span> {{ qrCodeText }}</span> -->
            <li class="mb-3">Subscriber information Name : Ahmed Taha</li>
            <li class="mb-3">Email : ahmedtaha<span> &#64;</span> gmail.com</li>
            <li class="mb-3">Phone Number: +99642134</li>
            <li class="mb-3">Subscribe Date : 10/26/2024 1:28:58 PM</li>
          </ul>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          <strong> Error</strong> {{ errorMessage }}
        </div>
        <div *ngIf="showSuccessMessage" class="success-message">
          <h4>Subscription Confirmed</h4>
        </div>
        <!-- loading -->

        <div class="loader-paternt" *ngIf="action.isLoading">
          <div class="load-container one">
            <div class="loader">Loading...</div>
          </div>
          <h3 class="text-center">in progress</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- ngx-scanner-qrcode -->

  <!-- data  -->
  <!-- <p class="data">{{ (action.data | async | json) }}</p> -->

  <!-- <div *ngIf="showSuccessMessage" class="result">
    <h4>QR Code Content:</h4>
    <p>{{ qrCodeText }}</p>
  </div> -->
</div>
