<div class="error-message-container">  
    <div class="content-box">
      <div class="icon-section">
        <img src="assets/error-icon.png" alt="Error Icon" class="icon" />
      </div>
      <h1>Sorry, Error Message!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur eros rutrum lacus porttitor tincidunt. Suspendisse ac lorem id nisi viverra accumsan ut at est.
      </p>
    </div>
  
    <footer>
      <p>All Rights Reserved. Powered by <strong>RASAN</strong></p>
    </footer>
  </div>